In [1]:
#Sum of first 100

total = 0 

for i in range(1,101):
    total +=i
print(total)

5050

In [2]:
#Multiplication Table

n = int(input("Enter the value of n: "))
print(f'Multiplication Table of {n} ')

for i in range(1,11):
    print(f'{n} x {i} = {n*i}')

Enter the value of n: 7
Multiplication Table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [3]:
#Print alphabet
for i in range(65,91):
# for i in range(97,123):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [4]:
#100 Even numbers

for i in range(2,201,2):
    print(i,end= ",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [5]:
#Factorial

n = int(input("Enter the value of n : "))

factorial = 1

for i in range(2,n+1):
    factorial *= i
    
print(factorial)

Enter the value of n : 4
24

In [6]:
#Prime or not
#option 1
is_prime = True

num = int(input("Enter the number : "))

if num == 0 or num == 1:
    is_prime = False
else:
    for i in range(2,num):
        if num % i == 0:
            is_prime = False
            break
            
if is_prime:
    print("Prime")
else:
    print("Not a Prime")

Enter the number : 37
Prime

In [7]:
#Prime or not
#option 1

num = int(input("Enter the number : "))

if num == 0 or num == 1:
    print("Not a Prime")
else:
    for i in range(2,num):
        if num % i == 0:
            print("Not a Prime")
            break
            
    else:
        print("Prime")

Enter the number : 29
Prime

In [8]:
#Print a pattern

n = int(input("Enter the value of n : "))

for i in range(1, n+1):
    a= "*" * i
#     print(a.center(20))
    
    print("*" * i)

Enter the value of n : 7
*
**
***
****
*****
******
*******

In [9]:
#print digit in reverse
#option 1

num = 3521

reverse = int(str(num)[::-1])

print(reverse)

1253

In [10]:
#reverse a string

s = "Hello"

for char in s[::-1]:
    print(char, end = "")

olleH

In [11]:
#Half pyramid

num_rows = int(input("Enter the number is rows"))

k = (2 * num_rows) - 2

for i in range(0, num_rows):
    
    for j in range(0, k):
        print("", end = " " )
              
    k = k-2
    
    for j in range(0, i + 1):
              print("*" , end = " ")
    print()

Enter the number is rows9
                *
              * *
            * * *
          * * * *
        * * * * *
      * * * * * *
    * * * * * * *
  * * * * * * * *
* * * * * * * * *

In [12]:

num_rows = int(input("Enter the number is rows"))

# k = (2 * num_rows) - 2

for i in range(0, num_rows):
    
#     for j in range(0, k):
#         print("", end = " " )
              
#     k = k-2
    
    for j in range(0, i+1):
        print("*" , end = " ")
    
    print()

Enter the number is rows8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [13]:
#Floyd's Triangle


num_rows = int(input("Enter the number of rows"))

count = 1
for i in range(1,num_rows+1):
    for j in range(0,i):
        print(count, end  = " ")
        count += 1
    print()

Enter the number of rows5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [14]:
n = 5

count = 1
for i in range(1,n+1):
    for j in range(0,i):
        print(count, end = " ")
        count += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [15]:
#Triangle pattern

num_rows = int(input("Enter number of rows : "))

for i in range(0,num_rows):
    print(chr(65+i)* (i+1))

Enter number of rows : 5
A
BB
CCC
DDDD
EEEEE

In [16]:
#Diamond pattern

height  = int(input("Enter the number : "))

if height % 2== 0:
    print("Enter odd number")
else:
    
    middle_number = (height + 2 ) // 2

    for i in range(middle_number):
        print(" " * (middle_number - i), "*" * (i*2 + 1))
    for i in range(middle_number-2,-1,-1):
        print(" " * (middle_number - i), "*" * (i*2 + 1))

Enter the number : 9
      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *